.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }


.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: block;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.button {
     width: 150px;
     padding: 10px;
     background-color: #FF8C00;
     box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
     font-weight:bold; text-decoration:none;
}

#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:1001;
    width:100%;
    height:100%;
    display:none;
}
/*
#messageScreen {
    height:380px;
    width:340px;
    margin:0 auto;
    position:absolute;;
    z-index:10;
    display:none;
    border:5px solid #cccccc;
    border-radius:10px;
}
*/
#calibration-failed {
    display:none;
}

#calibration-success, #calibrationMessage, #calibration-inprocess {
    display:none;
}

#messageScreen{
    position: fixed;
    top: 30%;
    left:10%;
    z-index:1002;
    display:none;
    width: 80%;
    /*border:5px solid #cccccc;
    border-radius:10px;*/
}

#messageScreen:target, #messageScreen:target + #cover{
    display:block; opacity:2;
}

#auto-calibration-window{
    position: fixed;
    top: 30%;
    left:10%;
    z-index:1002;
    display:none;
    width: 80%;
    /*border:5px solid #cccccc;
    border-radius:10px;*/
}

#auto-calibration-window:target, #auto-calibration-window:target + #cover{
    display:block; opacity:2;
}

.cancel {
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    /*background:rgb(245,245,245);*/
    color:white;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}

.quit-view {
    display:block;
    position:absolute;
    top:30px;
    right:2px;
    /*background:rgb(245,245,245);*/
    color:white;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}

#fullScreenMessage{
    /*position: absolute;
    height: 50px;*/
    /*

    top: 50%;
    left: 50%;*/
    position: relative;
    width: 100%;
    font-size: 600%;
    text-align: center;
    color: black;
    /*
    margin-left: -50px; */
    /* margin is -0.5 * dimension */
    /*
    margin-top: -25px;*/

}
#calibrationMessage,#auto-calibration-message{
    position: relative;
    width: 100%;
    font-size: 300%;
    text-align: center;
    color: black;
}

.crossClass{
    position:absolute;
    left: 50%;
    text-align: center;
}

#calibrate-btn, #wand-lenght-btn{
    width:30%;
    margin-left: 10px;
    background-color: #06c;
    color: white;
}

.update-info{
    display : none;
}
